<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DynamicBD-Builder</title>
  <link rel="stylesheet" href="./force.css">
</head>

<body>
  <h1>Sincronización de Sequelize</h1>
  <div class="radio-container">
    <input type="radio" id="force1" name="options" value="force1">
    <label for="force1">Crea la tabla si no existe.</label>
    <br>
    <input type="radio" id="force2" name="options" value="force2">
    <label for="force2">Crea la tabla, eliminando la existente.</label>
    <br>
    <input type="radio" id="force3" name="options" value="force3">
    <label for="force3">Actualiza las tablas existentes con la nueva información..</label>

  </div>
</body>
<script src="./force.js"></script>

</html>